body {
    background: url(fundo-show.jpg) no-repeat;
    background-size: cover;
    font-family: 'Proxima Nova';
}

header {
    border-bottom: 1px solid lightskyblue;
    color: #272727  ;
    width: 620px;
    position: relative;
    left: 40px;
}

header,footer {
    text-align: center;
}

footer {
    border-top: 1px solid lightskyblue;
    width: 620px;
    position: relative;
    left: 40px;
    clear:both;
    color: #666666;
}

footer p {
    font-size: 9pt;
    padding-top: -10px;
}

footer h3 {
    font-size: 12pt;
    padding-bottom: -10px;
    margin-bottom: -15px;
}

div#content {
    border-radius: 20px;
    position: absolute;
    left: 25%;
    width: 700px;
    background-color: white;
}

section#formArea {
    display: block;
    float: left;
    padding: 15px;
    width: 320px;
    height: 420px;
    border-right: 1px solid lightskyblue;
}

section h2 {
    text-align: center;
    margin-top: -10px;
    color: #f18e00;
    font-size: 18pt;
    display: block;
    background-color: #dddddd;
    padding: 14px 0px 14px 15px;
    margin-bottom: 25px;
}
form label{
    color: #f18e00;
    font-size: 13pt;
    display: block;
    background-color: #dddddd;
    padding: 0px 0px 0px 15px;
    margin-bottom: -15px;
}

form input {
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.botao {
    margin-left: 0px;
    padding-left: 15px;
    background-color: #ddddddd;
    border: none;
    color: #f18e00;
    transition: background-color 1s;
    width: 120px;
    height: 30px;
    text-align: left;
    font-weight: bold;
}

.botao:hover {
    background-color: #f18e00;    
    color: #dddddd;    
}

aside#prop {
    left: 450px;
    width: 340px;
    display: block;
    float: right;
}

img.wesley {
    position: absolute;
    bottom: 56px;
    display: block;
    width: 265px;
    height: 375px;
}

img.weslei-aponta {
    position: absolute;
    display: block;
    width: 176px;
    bottom: 58px;
}

aside h2 {
    text-align: center;
    color: #f18e00;
    font-size: 18pt;
    display: block;
    background-color: #dddddd;
    padding: 0px 5px 0px 15px;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

div#calc {
    height: 350px;
    font-size: 25pt;
    text-align: center;
}

span.resultado {
    text-align: center;
    font-size: 15pt;
}

a{
    text-decoration: none;
    text-align: center; 
    font-size: 15pt;
    position: absolute;
    bottom: 60px;   
    left: 45%;
    
}

span#direita {
    display: block;
    position: absolute;
    width: 250px;
    float: right;
    bottom: 120px;
    left: 32%;
    margin: 50px 0px 15px 0px;
}

.botao2 {
    margin-left: 0px;
    padding-left: 15px;
    background-color: #ddddddd;
    border: none;
    color: #f18e00;
    transition: background-color 1s;
    width: 65px;
    height: 25px;
    text-align: left;
    font-weight: bold;
}

.botao2:hover {
    background-color: #f18e00;    
    color: #dddddd;    
}